langchain_astradb
pandas
langchain-google-genai
fastapi 
uvicorn 
python-multipart
jinja2
python-dotenv 
langchain 
langchain_core 
langchain-groq
langchain-openai
langchain-anthropic
langchain-ollama
datasets

-e .